@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    min-height: 100vh;
    background-color: rgba(241, 239, 239, 0.623);
}

.header{
    background-color: rgb(108, 96, 184);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.title{
    font-size: 28px;
    padding-left: 18px;
}

.body{
    display: flex;
    justify-content: space-between;
    margin: 12px;
}

.form{
    display: flex;
    justify-content: center;
    width: 52%;
    background-color: rgba(214, 213, 213, 0.623);
    border-radius: 6px;
    box-sizing: 0 -6px 10px 10px rgba(0, 0, 0, 0.5);
}

.preview{
    width: 45%;
    height: 100%;
    background-color: rgba(214, 213, 213, 0.623);
}

form{
    width: 100%;
    padding: 16px;
}

fieldset{
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.res-content{
    padding: 16px;
}

.personal{
    margin-bottom: 14px;
}

.name-surname{
    font-weight: 600;
    font-size: 28px;
}

.res-pos{
    font-weight: 600;
    font-size: 24px;
}

.res-desc{
    margin-bottom: 14px;
}

.res-edu{
    margin-bottom: 14px;
}

.res-exp{
    margin-bottom: 14px;
}

.exp-title{
    font-weight: 600;
    font-size: 28px;
}

.desc-title{
    font-weight: 600;
    font-size: 28px;
}

.edu-title{
    font-weight: 600;
    font-size: 28px;
}

.edu-dates, .exp-dates{
    display: flex;
    gap: 16px;
}

textarea{
    resize: none;
    height: 60px;
}

button{
    margin-top: 12px;
}