@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    min-height: 100vh;
    background-color: rgba(241, 239, 239, 0.623);
}

.header{
    background-color: rgb(108, 96, 184);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i{
    font-size: 28px;
    padding-right: 18px;
}

a{
    color: black;
    text-decoration: none;
}

.title{
    font-size: 28px;
    padding-left: 18px;
}

.body{
    display: flex;
    justify-content: center;
    margin: 12px;
}

.form{
    display: flex;
    justify-content: center;
    width: 52%;
    border-radius: 6px;
    box-sizing: 0 -6px 10px 10px rgba(0, 0, 0, 0.5);
}

.preview{

    display: flex;

    width: 100%;
    background-color: white;
    border-radius: 6px;
    box-sizing: 0 -6px 10px 10px rgba(0, 0, 0, 0.5);
}

form{
    background-color: rgba(214, 213, 213, 0.623);
    width: 100%;
    padding: 16px;
}

fieldset{
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: none;
}

legend{
    font-size: 24px;
    font-weight: 600;
}

input{
    border-radius: 6px;
    border: none;
    padding: 6px;
}

label{
    font-weight: 500;
}

textarea{
    border-radius: 6px;
    border: none;
}

.res-content{
    padding: 16px;
}

.personal{
    margin-bottom: 14px;
}

.name-surname{
    font-weight: 600;
    font-size: 28px;
}

.res-pos{
    font-weight: 600;
    font-size: 24px;
}

.res-desc{
    margin-bottom: 14px;
}

.res-edu{
    margin-bottom: 14px;
}

.res-exp{
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.exp-title{
    font-weight: 600;
    font-size: 28px;
}

.desc-title{
    font-weight: 500;
    font-size: 24px;
}

.edu-title{
    font-weight: 600;
    font-size: 28px;
}

.edu-dates, .exp-dates{
    display: flex;
    gap: 16px;
    margin-bottom: 10px;
}

.edu-details, .exp-details{
    margin-bottom: 18px;
}

.exp-company, .exp-role, .edu-school, .edu-degree{
    font-weight: 500;
    font-size: 22px;
} 

.desc-detail{
    margin-bottom: 12px;
}

textarea{
    resize: none;
    height: 60px;
}

button{
    margin-top: 12px;
}

.buttons{
    display: flex;
    margin-bottom: 18px;
    gap: 14px;
}

.del-btn{
    margin-bottom: 12px;
    background-color: rgb(201, 79, 79);
}

.add-btn{
    background-color: rgb(38, 155, 38);
}

.pdf-btn{
    background-color: rgb(60, 60, 233);
}

.reset-btn{
    background-color: rgb(248, 165, 12);
}

.add-btn, .del-btn, .pdf-btn, .reset-btn{
    padding: 8px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

