@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    min-height: 100vh;
    background-color: rgba(241, 239, 239, 0.623);
}

.header{
    background-color: rgb(108, 96, 184);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.title{
    font-size: 28px;
}

.body{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    margin: 12px;
}

.form{
    width: 52%;
    height: 100%;
    background-color: rgba(214, 213, 213, 0.623);
    border-radius: 6px;
    box-sizing: 0 -6px 10px 10px rgba(0, 0, 0, 0.5);
}

.preview{
    width: 45%;
    height: 100%;
    background-color: rgba(214, 213, 213, 0.623);
}